.sidebar {
    width: 300px;
    padding: 20px;
    background-color: darkgray;
    border-radius: 20px;
    margin: 0 10px 0 0;
}

.item {
    display: block;
    margin: 0 0 10px 0;
    padding: 10px;
    background-color: dimgray;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    text-decoration:none;
    color: white;
}

.active {
    display: block;
    margin: 0 0 10px 0;
    padding: 10px;
    background-color: dimgray;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    text-decoration:none;
    color: gold;
}

.friends {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 60px;
    border-radius: 50px;
    box-shadow: 2px 5px gray;
}