.musicTitle {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 10px;
}

.audio {
    margin: 10px 0 0 0;
    padding: 0 0 20px 0;
    border-bottom: 2px solid dimgray;
}
