.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: dimgray;
    border-radius: 20px;
    margin: 10px auto;
}

.logo img {
    width: 100px;
}

.loginBlock {
    padding: 10px;
}

.loginLogo {
    width: 90px;
}
