.news img {
    width: 580px;
}

.newsTitle {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 10px;
}
.news {
    display: flex;
    flex-direction: column;
    align-items: center;
}
