.form {
    display: flex;
    border: 2px solid black;
    border-radius: 8px;

}

.avatar {
    padding: 20px;
    width: 100px;
    border-radius: 30px;
}

.description {
    width: 480px;
    padding: 15px;
}

.itemName {
    font-weight: normal;
    padding-top: 2px;
}

.fullName {
    font-weight: bold;
    font-size: 30px;
    padding-top: 2px;
}

.contacts {
    display: flex;
    height: 30px;
}

.item {
    height: 30px;
}

.contactsName {
    padding-top: 3px;
}

.itemLogo {
    height: 30px;
    width: 30px;
    padding: 1px;
}


.status {
    margin-bottom: 10px;
}